# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.env
venv/
.env.*

# Pytest / coverage
htmlcov/
.coverage
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# artifacts
output/
*.log
